<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="../../Images/logo_web.png" class="text-center" alt="Logo Empresa">
    </div>
</div>
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">NAVEGACIÓN PRINCIPAL</li>
    <!-- Dashboard -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-circle-o"></i>informe 1</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i>informe 2</a></li>
        </ul>
    </li>
    <!-- Ordenes -->
    <li>
        <a href="#">
            <i class="fa fa-crosshairs"></i><span>Ordenes</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-home"></i><span>Clientes</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-wrench"></i><span>Trabajadores</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-users"></i><span>Grupos</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-book"></i><span>Tipologias</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-calendar"></i><span>Reglas</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-info-circle"></i><span>Doc. Ayuda</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-gears"></i><span>Configuración</span>
        </a>
    </li>
    <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>


